.hero {
  padding-top: 115px;

    &__title {
      color: #fff;
      font-size: 3.4rem;
      line-height: 135%;
    }

}

.btn {
  padding: 10px 20px;
  border-radius: 2px;
  background-color: $color-gold;
  font-size: 1.5rem;
  height: 42px;
  line-height: 38px;
  padding: 0 3.5rem;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  display: inline-block;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  border: 2px solid transparent;
  color: #fff;

  &:hover {
    text-decoration: none;
    background: transparent;
    color: $color-purple;
    border: 2px solid $color-purple;
  }
}