@tailwind base;
@tailwind components;
@tailwind utilities;

@import "global/*";

html,
body {
  height: 100%;
  font-size: 10px;
}

body {
  z-index: -1;
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.3px;
  min-width: 320px;
  position: relative;
  max-width: 100vw;
  overflow-wrap: anywhere;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3.2rem;
}

p, a, ul, li, span {
  font-size: 1.6rem;
  font-weight: 400;
}